charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  /* 行高の設定 */
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  /* サイト全体の文字色　黒は真っ黒にしない */
  color: #000;
  /* 優先順位、どの端末でも対応できるように複数指定、全てない場合サンセリフになる、分からなければ指定方法で検索 */
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
  /*下線を消す*/
  text-decoration: none;
  /* 色を消す */
  /* inherit継承の意 */
  color: inherit;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  /* 親要素からはみ出ないようにmax-width100% */
  max-width: 100%;
  /* 下の隙間をなくすため */
  vertical-align: bottom;
  /* たまに下に引かれる線を消すため */
  border: none;
}

.content {
  max-width: 100%;
  background: #eeeeee;
  padding: 50px;
}

.content_title {
  text-align: center;
  margin-bottom: 50px;
  /* border: 1px solid green; */
}

.service {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  /* justify-content: space-between; */
  gap: 30px;
  border: 1px solid red;
}

.box {
  background: white;
  border: 1px solid blue;
}

img {
  width: 100%;
  /* display: block; */
}
.title {
  border-left: 7px solid green;
  padding: 2px 2px;
  margin-left: 5px;
  margin-top: 5px;
}

@media screen and (max-width:400px){
  .content {
    padding: 50px 0;
  }
  
  .service {
    flex-direction: column;
  }
  

}