@charset "utf-8";

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  /* 行高の設定 */
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  /* サイト全体の文字色　黒は真っ黒にしない */
  color: #000;
  /* 優先順位、どの端末でも対応できるように複数指定、全てない場合サンセリフになる、分からなければフォント指定方法で検索 */
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
  /*下線を消す*/
  text-decoration: none;
  /* 色を消す */
  /* inherit継承の意 */
  color: inherit;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  /* 親要素からはみ出ないようにmax-width100% */
  max-width: 100%;
  /* 下の隙間をなくすため */
  vertical-align: bottom;
  /* たまに下に引かれる線を消すため */
  border: none;
}
