@charset "utf-8";

h1 {
  color: red;
}

.heading {
  color: blue;
}

#hobby {
  background: lightblue;
  width: 300px;
  height: 300px;
  padding: 50px;
  box-sizing: border-box;
  border: 5px solid black;
  margin: 50px auto;
}